In [42]:
import pandas as pd
from urllib import urlopen
from bs4 import BeautifulSoup
from bs4 import Comment
import re
import json

In [43]:
## parameters and bs4 connection
url = "https://www.linestarapp.com/Ownership/Sport/WNBA/Site/FanDuel/PID/379"
output_path = '/output/path/goes/here/'

html = urlopen(url)
print(html)
soup = BeautifulSoup(html, "html.parser")

#print(soup)

<addinfourl at 4432183448 whose fp = <socket._fileobject object at 0x108147cd0>>

In [44]:
## scrape page to get pretty column headers
column_headers = [td.getText() for td in
                      soup.findAll('tr', limit=10)[1].findAll('td')]

print(column_headers)

[u'Player', u'Pos', u'Team', u'Salary', u'Actual Ownership']

In [45]:
## function definitions

def format_script_string(hold):
    hold = hold.replace('\r', '')
    hold = hold.replace('\n', '')
    return(hold)

def format_js_var_string(x):
    x = x.replace(sub_str, '').replace("'", '"')
    x = x.replace('            ', ' ').replace(';', '') ## replacing the big space isn't needed but makes the string easier to read
    ## these are specific to the js variable dict... must be adjusted based on what is pulled  
    ## want to replace each key so that json.loads can read it correctly
    ## since each key is a string need to add quotes to it to make it {"key":value} format
    x = x.replace('id:', '"id":') 
    x = x.replace('name:', '"name":')
    x = x.replace('owned:', '"owned":')
    x = x.replace('pos:', '"pos":')
    x = x.replace('team:', '"team":')
    x = x.replace('sal:', '"sal":')
    ## finally, we replace the pesky piece of the js variable.. the fucking ',}' and ',]' (these don't work w/ json loads)
    x = re.sub(',\s*}', '}', x) ## note: this give weird results depending on the strings passed.. 
    x = re.sub(',\s*]', ']', x)
    return(x)
            
            
def scrape_scripts(sub_str, scripts):
    #html_scripts = soup.findAll('script')
    #sub_str = 'var actualResultsDict = '
    res = {}
    temp = re.compile(sub_str + '{(.*)};', re.MULTILINE) 
    for script in scripts: ## loop thru scripts tags, then search the strings for matches of the `temp` search above
        hold = format_script_string(str(script.string))
        x = temp.search(hold) ## do the search 
        if x: ## if we found something then.. 
            x = x.group()
            x = format_js_var_string(x) ## format js variable string 
            res = json.loads(x)
    return(res)

In [46]:
sub_str = 'var actualResultsDict = '  ## this is hte js variable dict that holds the table data 
#sub_str = 'var projectedSlatesDict = ' ## this is hte js variable dict that holds the table data 

json_object = scrape_scripts(sub_str, soup.findAll('script'))

## need to format the json_object a bit for pandas
res = []
for slate_id, sub_list in json_object.items():
    for val in sub_list:
        val.update({'slate_id':slate_id})
        res.append(val)

        
res = pd.DataFrame(res)

In [47]:
## rename pandas df 
new_names = {'id': 'player_id', ## could be wrong about this.. not really sure what the ID is.. 
             'owned': 'ownership',
             'pos': 'position',
             'sal': 'salary',
             'team':'team',
             'slate_id': 'slate_id'  ## have no clue what this is... take a look at print(soup) and youll see how the variables are structured
            }

res.rename(columns = new_names, inplace=True)

In [48]:
res

,player_id,name,ownership,position,salary,slate_id,team
0,224,Astou Ndour,59.2,F,3000,0,CHI
1,127,Kayla McBride,55.2,G,4700,0,LV
2,76,LaToya Sanders,34.6,F,3900,0,WAS
3,15,Cheyenne Parker,33.7,F,4800,0,CHI
4,145,Breanna Stewart,32.8,F,8500,0,SEA
5,70,Elena Delle Donne,26.4,F,8300,0,WAS
6,84,Skylar Diggins-Smith,25.6,G,8000,0,DAL
7,72,Kristi Toliver,24.7,G,5000,0,WAS
8,104,Sylvia Fowles,24.5,F,8300,0,MIN
9,360,Diamond DeShields,24.4,G,4500,0,CHI
10,110,Maya Moore,23.6,F,7000,0,MIN
11,374,Liz Cambage,20.6,F,8200,0,DAL
12,102,Natasha Howard,19.7,F,6800,0,SEA
13,59,Tina Charles,17.5,F,7700,0,NY
14,90,Chelsea Gray,17.2,G,6800,0,LA
15,390,A&#39ja Wilson,16.1,F,7800,0,LV
16,91,Candace Parker,14.7,F,8200,0,LA
17,96,Nneka Ogwumike,13.9,F,7800,0,LA
18,69,Natasha Cloud,12.5,G,4100,0,WAS
19,361,Gabby Williams,12.2,G,4400,0,CHI
20,3,Layshia Clarendon,11.2,G,4300,0,ATL
21,179,Angel McCoughtry,10.7,F,7500,0,ATL
22,365,Victoria Vivians,9.7,G,4100,0,IND
23,371,Ariel Atkins,8.8,G,4000,0,WAS
24,106,Renee Montgomery,8.7,G,4800,0,ATL
25,144,Jewell Loyd,7.8,G,7700,0,SEA
26,20,Tamera Young,7.6,G,5300,0,LV
27,368,Kelsey Mitchell,7.6,G,5500,0,IND
28,51,Bria Hartley,7.5,G,4200,0,NY
29,80,Allisha Gray,7.3,G,4200,0,DAL
...,...,...,...,...,...,...,...
32,190,Jamierra Faulkner,6.3,G,3700,0,CHI
33,37,Natalie Achonwa,5.5,F,6000,0,IND
34,147,Alysha Clark,5.4,F,4500,0,SEA
35,42,Tiffany Mitchell,5.1,G,5600,0,IND
36,11,Elizabeth Williams,4.5,F,5100,0,ATL
37,101,Rebekkah Brunson,4.2,F,4500,0,MIN
38,16,Jessica Breland,4.2,F,6900,0,ATL
39,78,Kayla Thornton,3.5,F,5400,0,DAL
40,18,Courtney Vandersloot,3.5,G,6800,0,CHI
41,148,Sue Bird,3.3,G,5200,0,SEA
42,79,Kaela Davis,3.1,G,3500,0,DAL
43,124,Monique Currie,2.5,G,3700,0,WAS
44,24,Allie Quigley,2.5,G,6100,0,CHI
45,92,Odyssey Sims,1.9,G,5700,0,LA
46,128,Dearica Hamby,1.9,F,3900,0,LV
47,131,Kelsey Plum,1.9,G,4200,0,LV
48,119,Danielle Robinson,1.8,G,3500,0,MIN
49,146,Kaleena Mosqueda-Lewis,1.8,F,3200,0,SEA
50,353,Cecilia Zandalasini,1.7,F,3200,0,MIN
51,38,Candice Dupree,1.7,F,6300,0,IND
52,53,Shavonte Zellous,1.7,G,4900,0,NY
53,87,Glory Johnson,1.6,F,6300,0,DAL
54,151,Tanisha Wright,1.6,G,3500,0,MIN
55,55,Brittany Boyd,1.4,G,3200,0,NY
56,44,Erica McCall,1.3,F,3700,0,IND
57,39,Erica Wheeler,1.2,G,5200,0,IND
58,86,Courtney Paris,1.2,F,3500,0,SEA
59,65,Tianna Hawkins,1.1,F,4500,0,WAS
60,62,Epiphanny Prince,1.1,G,3600,0,NY
61,395,Jordin Canada,1.0,G,3800,0,SEA

In [ ]:
#res.to_csv(output_path + 'res.csv')